<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Report Form</h4>
                      <p class="card-category">Student Details</p>
                  </div>
                  
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="alert alert-info">
                                <span>Name: {{reports.student_name}}</span>
                            </div>
                            <div class="alert alert-info">
                                <span>admissionNo: {{reports.student_admission_number}}</span>
                            </div>
                            <div class="alert alert-info">
                              <span>Exam: {{ reports.exam_name}}</span>
                          </div>
                            <div class="alert alert-info">
                              <span>Class: {{ reports.class_name }}</span>
                          </div>
                          <div class="alert alert-info">
                            <span>Principals Remarks: {{reports.principals_remarks}}</span>
                        </div>
                        <div class="alert alert-info">
                          <span>class teachers remarks:{{reports.class_teachers_remarks}}</span>
                      </div>
                      <div class="alert alert-info">
                        <span>Mean grade: {{reports.mean_grade}}</span>
                    </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Student Profile</h4>
                            <div class="card card-profile">
                              <div class="card-avatar">
                              <p><img src="'+reports.student_photo+'"></p>
                              </div>
                              <div class="card-body">
                                 
                                  <h4 class="card-title">{{reports.student_name}}</h4>
                                  <p class="card-description">
                                     {{reports.class_name}}
                                  </p>
                                  <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
         
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">grading</i>
                      </div>
                      <h1 class="card-title">Overall Position:
                        
                    </h1>
                      <h3 class="card-title">Deviation: 
                          <small>{{reports.overall_position.deviation}}</small>
                      </h3>
                      <h3 class="card-title">Position out of:
                        <small> {{reports.overall_position.position_out_of}}</small>
                    </h3>
                  </div>
                  </div>
              </div>
         
      </div>
  </div>
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td class="text-primary">
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td class="text-primary">
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td class="text-primary">
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td class="text-primary">
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td class="text-primary">
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  
</div>
